.section-8 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgb(236, 241, 245);
}

.section-8-internal {
    display: flex;
    margin-left: 12%;
    margin-right: 12%;
}

.sec-8-column {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.sec-8-column-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8%;
    color: #263b5e;
}

.sec-8-content {
    font-size: 0.75rem;
    margin-top: 8%;
    color: #6a7695;
}

.sec-8-image-container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 50%;
}

.sec-8-image {
    border: 0.01rem solid rgb(229, 223, 223);
    margin: 2%;
    padding: 10%;
    border-radius: 50%;
}

.horizontal-line {
    border-bottom: 0.01rem solid rgb(232, 224, 224);
    width: 73%;
    align-self: center;
    margin: 1%;
}

.sec-8-column-que {
    color: #717171;
    font-weight: 600;
    margin-top: 2%;
}

.sec-8-column-ans {
    color: #717171;
    font-size: 0.75rem;
    margin-top: 2%;
}

.sec-8-column-sub-title {
    font-size: 1rem;
    font-weight: 600;
    color: #263b5e;
    margin-top: 2%;
}

.sec-8-column-topic {
    color: #717171;
    font-weight: 600;
}

.sec-8-column-topic-ans {
    color: #717171;
    font-size: 0.75rem;
    margin-top: 1%;
}

.footer {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    margin-left: 12%;
    margin-right: 12%;
}

.footer-text {
    color: #7f88a6
}